{% extends 'reminder/base.html' %}
{% block title %} {{ chore.name }} {% endblock %}

{% block content %}
	<div class='row'>
		{% comment %}
		<div class='col-lg-12'>
			<div class='card-deck text-center'>
				<div class='card'>
					<div class="card-header" data-toggle="collapse" href="#form_alert_now"><h4 class='card-title'>Send Reminder Now</h4></div>
					<div class='card-block' id="form_alert_now">
						<p>Send a custom text alert right when you click the button</p>
						<p><a class='btn btn-primary' href="{% url 'alert_now' slug=chore.slug %}">Send Reminder Now</a></p>
					</div>
				</div>
				<div class='card'>
					<div class="card-header" data-toggle="collapse" href="#form_alert_later"><h4 class='card-title'>Send Reminder Later</h4></div>
					<div class='card-block' id="form_alert_later">
						<form id="alert_later" action="{% url 'alert_later' slug=chore.slug %}" method="POST">
							{% csrf_token %}
							<div class="form-group">
				                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
				                    <input name='date' id="id_date" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
				                    <span class="input-group-addon" data-target="#datetimepicker1" data-toggle="datetimepicker">
				                    <span class="fa fa-calendar"></span>
				                    </span>
				                </div>
				            </div>
				            <input class='btn btn-primary' type="submit" value="Submit" />
						</form>
					</div>
				</div>
				<div class='card'>
					<div class="card-header" data-toggle="collapse" href="#form_alert_recurring"><h4 class='card-title'>Schedule Recurring Reminder</h4></div>
					<div class='card-body' id="form_alert_recurring">
						<form id='alert_recurring' action="{% url 'alert_recurring' slug=chore.slug %}" method="POST">
							{% csrf_token %}
							<select name='day' id='id_day'>
								<option value="Monday">Monday</option>
								<option value="Tuesday">Tuesday</option>
								<option value="Wednesday">Wednesday</option>
								<option value="Thursday">Thursday</option>
								<option value="Friday">Friday</option>
								<option value="Saturday">Saturday</option>
								<option value="Sunday">Sunday</option>
							</select>
							<div class="form-group">
                				<div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    				<input type="text" name="time" id="id_time" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                    				<span class="input-group-addon" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        			<span class="fa fa-clock-o"></span>
                    				</span>
				                </div>
				            </div>
							<input class='btn btn-primary' type="submit" value="Submit" />
						</form>
					</div>
				</div>
			</div>
		</div>
		{% endcomment %}
		<div class="col-lg-4">
			<div class='card text-center'>
				<div class="card-header" data-toggle="collapse" href="#form_alert_now"><h4 class='card-title'>Send Alert Now</h4></div>
				<div class='card-block collapse' id="form_alert_now">
					<p>Send a custom text alert right when you click the button</p>
					<p><a class='btn btn-primary' href="{% url 'alert_now' slug=chore.slug %}">Send Alert Now</a></p>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class='card text-center'>
				<div class="card-header" data-toggle="collapse" href="#form_alert_later"><h4 class='card-title'>Send Alert Later</h4></div>
				<div class='card-block collapse' id="form_alert_later">
					<form id="alert_later" action="{% url 'alert_later' slug=chore.slug %}" method="POST">
						{% csrf_token %}
						<div class="form-group">
			                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
			                    <input name='date' id="id_date" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
			                    <span class="input-group-addon" data-target="#datetimepicker1" data-toggle="datetimepicker">
			                    <span class="fa fa-calendar"></span>
			                    </span>
			                </div>
			            </div>
			            <input class='btn btn-primary' type="submit" value="Submit" />
					</form>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class='card text-center'>
				<div class="card-header" data-toggle="collapse" href="#form_alert_recurring"><h4 class='card-title'>Set Recurring Alert</h4></div>
				<div class='card-body collapse' id="form_alert_recurring">
					<form id='alert_recurring' action="{% url 'alert_recurring' slug=chore.slug %}" method="POST">
						{% csrf_token %}
						<select name='day' id='id_day'>
							<option value="Monday">Monday</option>
							<option value="Tuesday">Tuesday</option>
							<option value="Wednesday">Wednesday</option>
							<option value="Thursday">Thursday</option>
							<option value="Friday">Friday</option>
							<option value="Saturday">Saturday</option>
							<option value="Sunday">Sunday</option>
						</select>
						<div class="form-group">
            				<div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                				<input type="text" name="time" id="id_time" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                				<span class="input-group-addon" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    			<span class="fa fa-clock-o"></span>
                				</span>
			                </div>
			            </div>
						<input class='btn btn-primary' type="submit" value="Submit" />
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-lg-12">
			<div class="card">
				<h4 class="card-title">Chore Information</h4>
				<div class="card-block">
					<div clas="row"
					<span class="fa fa-info-circle"></span> 
					
				</div>
			</div>
		</div>
	</div>
{% endblock %}