{% extends 'reminder/base.html' %}
{% block title %} {{ team.name }} {% endblock %}
{% block content %}
	<h2>Roommates:</h2>
	<a href="{% url 'create_roommate' %}"><strong>Add+</strong></a>
	<ul>
	{% for roommate in team.roommates.all %}
		<li><a href="{{ roommate.get_absolute_url }}">{{ roommate.name }}</a></li>
	{% empty %}
		<p>No roommates registered yet!</p>
		<a href="{% url 'create_roommate' %}">Add Roommate</a>
	{% endfor %}
	</ul>
	<h2>Chores:</h2>
	<a href="{% url 'create_chore' slug=team.slug %}"><strong>Add+</strong></a>
	<ul>
	{% for chore in team.chores.all %}
		<li><a href="{{ chore.get_absolute_url }}">{{ chore.name }}</a></li>
	{% empty %}
		<p>No chores registered yet!</p>
		<a href="{% url 'create_chore' slug=team.slug %}">Add Chore</a>
	{% endfor %}
	</ul>
{% endblock %}